.compressedTableHighed {
	height     : 90px;
	max-height : 90px;
	overflow   : hidden;
}
.imageCompressed {
	height     : 50px;
	max-height : 50px;
}
.sidebar-nav li a.menuItem {
	display : none;
}
/* elements with the btn style don't like the pull-right class
   This style tries to fix some of the issues with it.
*/
.btnFixPullRight {
	display:inline;
}
