.compressedTableHighed {
	height     : 90px;
	max-height : 90px;
	overflow   : hidden;
}
.imageCompressed {
	height     : 50px;
	max-height : 50px;
}
/* elements with the btn style don't like the pull-right class
   This style tries to fix some of the issues with it.
*/
.btnFixPullRight {
	display:inline;
}
#navHeader {
    position: fixed;
    top : 0;
    left: 0;
    width:100%;
    height:50px;
    z-index :10;
}
#wrapper {
	margin-top:50px;
}
